<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iamRich.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>722655DA1BB7F2FA007EE52C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>722655F31BB7F2FB007EE52C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>722655FE1BB7F2FB007EE52C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
